* {
    padding: 0;
    margin: 0;
}
.Header {
    color: white;
    background-color: #1F2937;
    font-family: "Roboto";

}
.HeaderTop {
    display: flex;
    justify-content: space-between;
    margin: 0 100px ;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
 a {
    text-decoration: none;
    color: white;
 }

 .title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
 }
 .subtitle {
    font-size: 18px;
    color: #E5E7EB;
 }

.HeaderBody {
    display: flex;
    margin: 100px;
 }
.hbright img {
    max-height: 200px;
    
}