* {
    padding: 0;
    margin: 0;
}
.Header {
    color: white;
    background-color: #1F2937;
}
.HeaderTop {
    display: flex;
}

ul {
    display: flex;
    list-style: none;
}
 a {
    text-decoration: none;
    color: white;
 }